* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

main {
    padding: 5px;
}

/* ------------------- Header styling --------------------*/

header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: hsla(0, 5%, 98%, 1);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-bottom: solid 1px hsla(0, 5%, 95%, 1);
}
h1 {
    color: hsla(358, 100%, 67%, 1);
    font-size: 2.5rem;
    padding-left: 10px;
}

#header_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: hsla(358, 100%, 67%, 1);
}

#header_links a {
    text-decoration: none;
    color: hsla(358, 100%, 67%, 1);
    padding: 0 10px 0 10px;
}


/* ---------------------- Register page styling ------------------------------- */
#register_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0 120px 0;
}

#register_container h1 {
    color: black;
}

#register_container a {
    color: hsla(358, 100%, 67%, 1);
    text-decoration: none;
}

#register_container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#register_container label {
    padding-right: 10px;
    font-size: 1.1rem;
}

#register_container input {
    color: black;
    background-color: hsla(0, 5%, 97%, 1);
    border: none;
    border-radius: 20px;
    padding: 10px;
}

#register_container input:focus {
    outline: solid 2px hsla(358, 100%, 67%, 1)
}

#register_container input[type="submit"] {
    color: white;
    background-color: hsla(358, 100%, 67%, 1);
    border-radius: 20px;
    padding: 10px;
}


/* ------------------------------ styling log in page ------------------------- */
#log_in_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0 120px 0;
}

#log_in_container h1 {
    color: black;
}

#log_in_container a {
    color: hsla(358, 100%, 67%, 1);
    text-decoration: none;
}

#log_in_container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#log_in_container label {
    padding-right: 10px;
    font-size: 1.1rem;
}

#log_in_container input {
    color: black;
    background-color: hsla(0, 5%, 97%, 1);
    border: none;
    border-radius: 20px;
    padding: 10px;
}

#log_in_container input:focus {
    outline: solid 2px hsla(358, 100%, 67%, 1)
}

#log_in_container input[type="submit"] {
    color: white;
    background-color: hsla(358, 100%, 67%, 1);
    border-radius: 20px;
    padding: 10px;
}


/* -------------------------- Styling for spaces page ----------------------*/
h2 {
    font-size: 1.8rem;
    padding: 20px;
}

#spaces_search_bar_div {
    display: flex;
    justify-content: center;
}

#spaces_search_bar {
    color: black;
    background-color: hsla(0, 5%, 99%, 1);
    border-radius: 30px;
    padding: 20px;
    width:fit-content;
    box-shadow: 2px 2px 8px hsla(0, 5%, 90%, 0.7);
}

#spaces_search_bar input{
    color: black;
    background-color: hsla(0, 5%, 99%, 1);
    border: none;
    width: fit-content;
    padding-right: 12px;
}

#spaces_search_bar input:focus {
    outline: solid 2px hsla(358, 100%, 67%, 1)
}

#spaces_search_bar input[type="submit"] {
    background-color: hsla(358, 100%, 67%, 1);
    border-radius: 50%;
    padding: 8px;
    height: 50px;
    width: 50px;
}

#spaces_div {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
    padding: 30px 20px 20px 30px;
}

.space {
    background-color: hsla(0, 5%, 98%, 1);
    padding: 10px;
    border-radius: 20px;
}

.space h4 {
    font-size: 1.2rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.space .price {
    padding-top: 50px;
    color: hsla(358, 100%, 67%, 1);
}

.space a, button {
    text-decoration: none;
    color: white;
    background-color: hsla(358, 100%, 67%, 1);
    border: none;
    box-shadow: none;
    font-size: 0.7rem;
}

.space .buttons_div {
    display: flex;
    justify-content: space-between;
}

.space button {
    background-color: hsla(358, 100%, 67%, 1);
    margin: 10px 25px 10px 25px;
    padding: 10px;
    border-radius: 20px;
}


/* --------------------------- manage spaces page styling ------------------------- */
#manage_spaces_container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
}

.manage_space {
    background-color: hsla(0, 5%, 98%, 1);
    padding: 10px;
    border-radius: 20px;
    padding: 30px 20px 20px 30px;
}

.manage_space h4 {
    font-size: 1.2rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.manage_space a, button {
    text-decoration: none;
    color: white;
    background-color: hsla(358, 100%, 67%, 1);
    border: none;
    box-shadow: none;
    font-size: 0.7rem;
}

.manage_space .manage_buttons_div {
    display: flex;
    justify-content: space-between;
}

.manage_space button {
    background-color: hsla(358, 100%, 67%, 1);
    padding: 10px;
    margin: 0;
    border-radius: 20px;
}


/* ------------------------ footer styling ------------------------ */
footer {
    /* position: sticky; */
    bottom: 0;
    left: 0;
    background-color: hsla(0, 5%, 98%, 1);
    width: 100%;
    padding: 0;
    margin: 0;
    border-top: solid 1px hsla(0, 5%, 95%, 1);
}

footer p {
    padding: 20px;
    font-weight: bold;
}

