{% extends "base.html" %}

{% block title %}MakersBnB | Log in{% endblock %}

{% block content %}
<div id="log_in_container">
    <h1>🔑 Log in to makersbnb</h1>
    <form action="/login" method="post">
    <!-- We check to see if there are any errors from a previous submission -->
    <p>If you don't have an account yet, please <a href="/">register</a></p>
    {% if errors %}
    <!-- If so, we show them. -->
    <p class="t-errors" style="color:red;">
        {{ errors }}
    </p>
    {% endif %}
    <p>
        <label for="email">Email</label>
        <input type="text" name="email" value="{{ values_so_far.email }}" id="email">
    </p>
    <p>
        <label for="password">Password</label>
        <input type="text" name="password" value="{{ values_so_far.password }}" id="password">
    </p>
    <p>
        <input type="submit" value="Submit">
    </p>


</form>
<form action="/dev_login">
    <p>
        <input type="submit" value="🔨 Developer Login">
    </p>
</form>
</div>
{% endblock %}
