{% extends "base.html" %}

{% block title %}Your spaces | MakersBnB{% endblock %}

{% block content %}
    <h2>Requests to book your space</h2>
    {% if requests|length < 1 %}
        <div id="spaces_div">
            <p>You have no requests to book this space</p>
        </div>
    {% else %}
        <div id="spaces_div">
            <p>Your requests to book {{space.name}}:</p>
            {% for request in requests %}
                <div class="space">
                    <p>Guest: {{request.user_id}}</p>
                    <p>Check in: {{request.start_range}}</p>
                    <p>Check out: {{request.end_range}}</p>
                    <p>Number of nights: {{(request.end_range - request.start_range).days}}</p>
                    <form action="/myspaces/requests/{{request.space_id}}/{{request.booking_id}}/reject" method="POST">
                        <button type="submit">Reject</button>
                    </form>
                    <form action="/myspaces/requests/{{request.space_id}}/{{request.booking_id}}/accept" method="POST">
                        <button type="submit">Accept</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <a href="/myspaces/manage">Go back</a>
{% endblock %}

<!-- An issue, page is loading for <space_id>s which don't exist in the database -->