{% extends "base.html" %}

{% block title %}Your spaces | MakersBnB{% endblock %}

{% block content %}
    <h2>Your confirmed bookings</h2>
    <div id="spaces_div"></div>
        {% if bookings|length < 1%}
            <p>You have no confirmed bookings for this space</p>
        {% else %}
            <p>Your confirmed bookings for {{bookings[0].space_id}}</p>
            {% for booking in bookings %}
                <div>
                    <p>Guest: {{booking.user_id}}</p>
                    <p>Check in: {{booking.start_range}}</p>
                    <p>Check out: {{booking.end_range}}</p>
                    <p>Number of nights: {{(booking.end_range - booking.start_range).days}}</p>
                </div>
            {% endfor %}
        {% endif %}
        <a href="/myspaces/manage">Go back</a>
    </div>
{% endblock %}