{% extends "base.html" %}

{% block title %}Exampled Extended Webpage{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h2 class="flash-messages">{{ message }}</h2>
            {% endfor %}
        <a href="/myspaces/manage">&larr;</a>
        <a href="/myspaces/new">List another space</a>
        {% else %}
        <a class="back_link" href="/myspaces/manage">&larr;</a>
        <div class="new_space_container">
            <h2>Tell us about your space:</h2>
            <form action="/myspaces/new" method="POST">
                <label for="name">Choose a name for your space:</label>
                <input type="text" name="name" id="name" placeholder="Fran's Cosy Cabin...">
                <br>
                <label for="description">Write a description:</label>
                <input type="text" name="description" id="description" placeholder="A small, cosy cabin in the middle of the woods...">
                <br>
                <label for="price_per_night">Price to stay per night: £</label>
                <input type="number" name="price_per_night" id="price_per_night" placeholder="120" min="5">
                <br>
                <input type="submit">
            </form>
        </div>
        {% endif %}
    {% endwith %}
{% endblock %}