{% extends "base.html" %}

{% block title %}Exampled Extended Webpage{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h2 class="flash-messages">{{ message }}</h2>
            {% endfor %}
            <a href="/myspaces/manage">&larr;</a>
            <div class="centered-link">
            <a href="/myspaces/new" class="styled-button">List another space</a>
            </div>
        {% else %}
        <a class="back_link" href="/myspaces/manage">&larr;</a>
        <div class="new_space_container">
            <h2>Tell us about your space:</h2>
            <div id="new_space_form_container">
                <form action="/myspaces/new" method="POST" enctype="multipart/form-data" id="new_space_form">
                    <label for="name">Choose a name for your space:</label>
                    <input type="text" name="name" id="name" placeholder="Fran's Cosy Cabin...">
                    <label for="description">Write a description:</label>
                    <input type="text" name="description" id="description" placeholder="A small, cosy cabin in the middle of the woods...">
                    <label for="price_per_night">Price to stay per night (£):</label>
                    <input type="number" name="price_per_night" id="price_per_night" placeholder="120" min="5">
                    <label for="img_filename">Upload an image:</label>
                    <input type="file" name="img_filename" id="img_filename" accept="image/*" required>
                    <input type="submit" value="Create Space">
                </form>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}