{% extends "base.html" %}

{% block title %}MakersBnB Spaces{% endblock %}

{% block content %}
    <h2>Explore our spaces</h2>
    {% for space, owner, emoji in spaces_and_owners %}
        <div>
            <h4 style="margin-bottom:-4px">{{emoji}} {{space.name}}</h4>
            <p style="margin:12px 0 -4px 12px">{{space.description}}</p>
            <p style="margin:12px 0 -4px 12px">£{{space.price_per_night}} per night</p>
            <p style="margin:12px 0 -4px 12px">Hosted by {{owner.name}}</p>
            <button style="margin:12px 0 -4px 12px"><a href='/spaces/{{space.space_id}}'>More info</a></button>
        </div>
    {% endfor %}
{% endblock %}
