{% extends "base.html" %}

{% block title %}Your spaces | MakersBnB{% endblock %}

{% block content %}
    {% if spaces|length > 0 %}
    <h2>Your listed spaces:</h2>
        <div id="manage_spaces_container">
            {% for space in spaces %}
                <div class="manage_space">
                    <h4>{{space.name}}</p>
                    <div class="manage_buttons_div">
                        <button><a href='/myspaces/bookings/{{space.space_id}}'>Confirmed bookings</a></button>
                        <button><a href='/myspaces/requests/{{space.space_id}}'>Requests to book</a></button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="new_space">
            <h3>Want to list another space on MakersBnB?<a href="/myspaces/new">Click here</a></h3>
        </div>
    {% else %}
        <h2>List a space with MakersBnB!</h2>
            <a href="/myspaces/new">Click here to list a space</a>
    {% endif %}
{% endblock %}
