{% extends "base.html" %}

{% block title %}MakersBnB Spaces{% endblock %}

{% block content %}
    <h2>Explore our spaces</h2>
    <div id="spaces_search_bar_div">
        <form action="/spaces/filtered" method="GET" id="spaces_search_bar">
            <label for="start_range">Check in date:</label>
            <input type="date" name="start_range" id="start_range">
            <label for="end_range">Check out date:</label>
            <input type="date" name="end_range" id="end_range">
            <input type="submit" value="&#128269;">
    </form>
    </div>
    <div id="spaces_div">
        {% for space in spaces %}
            <div class="space">
                <a href='/spaces/{{space.space_id}}'><img src="{{ url_for('static', filename=space.img_filename) }}" alt="{{ space.name }}"></a>
                <h4>
                    <a href='/spaces/{{space.space_id}}'>{{space.name}}</a>
                </h4>
                <p>{{space.description}}</p>
                <p class="price">£{{space.price_per_night}} per night</p>
                <!-- <p>Hosted by {{space.user_id}}</p> -->
                <div class="buttons_div">
                    <button><a href='/spaces/{{space.space_id}}'>More info</button>
                    <button><a href='/spaces/{{space.space_id}}/book'>Book</a></button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}