{% extends "base.html" %}

{% block title %}MakersBnB | {{space.name}}{% endblock %}


{% block content %}
<div id="individual_space_container">
    <div class="individual_space">
        <img src="/static/{{ space.img_filename }}" alt="{{ space.name }}" />
    </div>
    <div class="individual_space">
        <h4>{{ space.name }}</h4>
        <br>
        <p>{{ space.description }}</p>
        <p>£{{ space.price_per_night }} per night</p>
        <p>Hosted by {{ owner.name }}</p>

        <!-- <p>Available date ranges:</p>
        <ul>
            {% for range in available_ranges %}
            <li>{{ range.start_range }} to {{ range.end_range }}</li>
            {% endfor %}
        </ul> -->
        <button><a href="/spaces/<int:space_id>/book">Book</a></button>
        <button><a href="/spaces">Go back</a></button>
    </div>
</div>
{% endblock %}
