{% extends "base.html" %}

<!--{% block title %}MakersBnB Spaces{% endblock %}-->

{% block content %}
    <h2>Explore our spaces</h2>
    <div id="spaces_search_bar_div">
        <form action="/spaces" method="POST" id="spaces_search_bar">
            <label for="start_date">Check in:</label>
            <input type="date" name="start_date" value="{{date_range.start_date}}" id="start_date">

            <label for="end_date">Check out:</label>
            <input type="date" name="end_date" value="{{date_range.end_date}}" id="end_date">
            <input type="submit" value="&#128269;">
    </form>
    </div>
    <div id="spaces_div">
        {% for (space, owner) in spaces_and_owners %}
            <div class="space">
                <h4>{{space.name}}</h4>
                <p>{{space.description}}</p>
                <p class="price">£{{space.price_per_night}} per night</p>
                 <p>Hosted by {{owner.name}}</p>
                <div class="buttons_div">
                    <button><a href='/spaces/{{space.space_id}}/{{date_range.start_date}}+{{date_range.end_date}}'>Book</a></button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
